/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}

/************************* YOUR SETTINGS *************************/
body {
   font-family: 'Helvetica', sans-serif;
   margin: 0;
   padding: 0;
   background-color: #FCFCFC;
   line-height: 1.15;
   word-wrap: break-word;
}

/* CSS Grid Container */
.grid-container {
   display: grid; 
   grid-template-areas:
       "header header header" 
       "nav main img"    
       "footer footer footer";
   grid-template-rows: 21fr 183fr 12fr; /* Hoogteverdeling */
   height: 5vh;
   grid-template-columns: 40fr 248fr 96fr;
   gap: 0px;
}
/* ----------------------------------------------------------------------------------------------------- */

/* Header */
.header {
   grid-area: header;
   height: 140px;
   padding-top: 40px;
   background: 
   linear-gradient(27deg, #2052A3 5px, transparent 5px) 0 5px,
   linear-gradient(207deg, #1b2c63 5px, transparent 5px) 10px 0px,
   linear-gradient(27deg, #1d2f8b 5px, transparent 5px) 0px 10px,
   linear-gradient(207deg, #1d2f8b 5px, transparent 5px) 10px 5px,
   linear-gradient(90deg, #111c40ec 10px, transparent 10px),
   linear-gradient(#101937 25%, #152149 25%, #152149 50%, transparent 50%, transparent 75%, #131f48 75%, #182654);
   background-size: 20px 20px;
   background-color: #1A2A7E;
   color: #FCFCFC;
   font-family: 'Georgia', serif;
   text-align: center;
   position: relative;
}

.wn {
      font-size: 42px;
      font-weight: bold;
      text-shadow: 0 0 3px #ED7C19;
}

.alt {
      color: #F7E451;
      font-weight: 500;
      font-style: italic;
      text-shadow: 0 0 3px #101a3c, -1px 0 2px #152368, 0 1px 2px #152368, 1px 0 2px #152368, 0 -1px 2px #152368;
}

.divider {
   background-color: #2052A3;
   font-size: 16px;
   font-weight: 520;
   padding-top: 10px;
   padding-bottom: 10px;
   position: absolute;
   top: 135px;
   width: 100%;
   height: 25px;
   overflow: hidden;
}

/* Zijbalk navigatie */
.side-nav {
   grid-area: nav;
   height: 100%;
   width: 200px;
   padding-bottom: 15px;
   background-color: rgba(90, 144, 230, 0.495);
   border-right: #2052A3;
   border-left-style: none;
   border-top-style: none;
   border-bottom-style: none;
   border-right-style: solid;
   border-width: 2px;
   overflow-x: hidden;
}

.side-nav ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.side-nav a, .dropdown-btn {
   padding-right: 5px;
   padding-left: 20px;
   padding-top: 15px;
   padding-bottom: 15px;
   text-decoration: none;
   font-size: 18px;
   font-weight: 520;
   font-family: 'Gill Sans', sans-serif;
   color: #2052A3;
   display: block;
   width: 100%;
   text-align: justify;
   cursor: pointer;
 }
 
 .separate:hover, .dropbtn:hover {
   color: #FCFCFC;
   font-weight: 550;
   background-image: linear-gradient(to right, rgb(237, 124, 25, 0.5), rgba(32, 82, 163, 0.75));
 }

 .side-nav a.active-link {
   background-color: #86ADEC;
   color: #1A2A7E;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #d9e7ff;
 }
 
 .dropdown-content a {
   float: none;
   color: #1A2A7E;
   font-size: 15px;
   padding-top: 8px;
   padding-bottom: 8px;
   display: block;
   text-align: justify;
   text-shadow: none;
   text-decoration: none;
   transition: background-color 0.5s ease, color 0.5s ease;
 }
 
 .dropdown-content a:hover {
   background-color: #cce0ff;
   font-size: 16px;
   color: #101937;
   text-shadow: 0 0 1px #DF041A;
 }
 
 .dropdown:hover .dropdown-content {
   display: block;
   position: relative;
 }


/* Hoofdinhoud */
.main {
   grid-area: main;
   text-align: justify;
   background-color: #FCFCFC;
   color:#101937;
   font-family: 'Helvetica', sans-serif;
   word-wrap: break-word;
   height: 915px;
   width: 100%;
   padding: 25px;
   margin-left: 45px;
   margin-right: 35px;
   margin-top: 20px;
   margin-bottom: 20px;
   position: relative;
   z-index: 40;
}

/* Image */
.decor {
   grid-area: img;
   position: relative;
   margin-top: 3px;
   margin-left: 150px;
   z-index: 50;
}

/* Footer */
.footer {
   grid-area: footer;
   background-color: #2052A3;
   color: #FCFCFC;
   padding-top: 5px;
   padding-bottom: 20px;
   padding-right: 300px;
   padding-left: 250px;
   height: 60px;
   font-family:'Gill Sans', sans-serif;
   font-weight: 500;
   text-align: justify;
}

.footer-list-inline {
   display: flex;
   justify-content: center;
   list-style:none;
   text-align:center;
   font-size: 16px;
   line-height:1.6;
   margin-bottom: 0;
   ;
}

.footer-list-inline li {
   padding: 10px;
   margin-right: 50px;
}

.footer-list-inline a {
   color: inherit;
   text-decoration: none;
}

   #topbutton {
   display: none;
   position: fixed;
   bottom: 20px; 
   right: 30px; 
   z-index: 98;
   outline: none;
   background-image: url(images/TopButton.jpg);
   background-size: 40px;
   padding: 20px;
   cursor: pointer; 
   border-color: #101937c0;
   border-style: outset;
   border-width: 2px;
   border-radius: 5px;
 } 
 
   #topbutton:hover {
   background-image: url(images/PressedTopButton.jpg);
 }

 .counter {
   margin-left: 6px;
   font-weight: bolder;
 }
